body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    color: #333;
    text-align: center;
}

.header-container {
    background-color: rgb(32, 10, 66);
    padding: 20px;
    color: white;
}

.content-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #332244;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

.social-icons a {
    color: #332244;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #553377;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 0.9em;
    color: #555;
}
